html, body, h1{
    padding: 0;
    margin: 0;
}
.main-content{
    background-color: rgba(0, 0, 0, .6);
}
.modal-dialog{
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    border-style: solid;
    border-width:5px;
    border-radius: 5px;
    border-color: grey;
    width: 400px;
    height: auto;
    box-shadow: 5px 5px 5px darkslategrey;
}
.modal-header{
    background-color: grey;
    padding: 12px;
}
.modal-title{
    color: white;
    font-size: 28px;
}
.modal-content{
    background-color: white;
    padding: 12px;
    font-size: 20px;
}
.modal-buttons{
    background-color: white;
    text-align: right;
    padding: 8px;
}
.modal-buttons > button{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    font-size: 13px;
}